<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>{{this.title}}</title>
</head>
<body>
  <form action="post">
    <input type="text" name="name" id="" placeholder="name">
    <input type="text" name="pass" id="" placeholder="pass">
    <button type="submit" onclick="sendInfo">send</button>
  </form>
  <hr>
  {{this.test}}  

  <hr>
  <input type="text" name="mes" id="" placeholder="message">
  <button class="mes">mes</button>
  <script type="module" src="javascripts/index.js"></script>
</body>
</html>